/*==============================================================
 # Class Search
==============================================================*/
.class-search-form {
    position: relative;
    width: 100%;
    display: grid;
    grid-gap: 1em 0;
}
.class-search-form select {
    width: 100%;
    background-color: transparent;
    color: inherit;
}

@media ( min-width: 48em ) {
    .class-search-form {
        display: flex;
    }
    .class-search-form select {
        width: 20em;
        margin-right: 2em;
    }
}

.class-list-days {
    position: relative;
    display: grid;
    grid-template: auto / repeat(7, 1fr);
    list-style: none;
    margin: 0 0 1em;
    padding: 0;
}
.class-list-days a {
    display: block;
    text-align: center;
    padding: 1em;
}
.class-list-days b {
    display: none;
}
.class-list-days strong {
    display: block;
    font-weight: 500;
    opacity: 0.5;
}
.class-list-days .is-active strong {
    opacity: 1;
}
.class-list-days small {
    font-size: 0.75em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    opacity: 0.5;
}
@media ( max-width: 48em ) {
    .class-list-days small,
    .class-list-days strong {
        display: none;
    }
    .class-list-days b {
        display: block;
        font-weight: 500;
        opacity: 0.5;
    }
    .class-list-days .is-active b {
        opacity: 1;
    }
}
@media ( min-width: 48em ) {
    .class-list-days {
        margin-top: -2em;
        margin-bottom: 2em;
    }
}

.class-list {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}
.class-list__item a {
    position: relative;
    display: block;
    background-color: var(--color-bg);
    padding: 2em 1.5em;
    margin-bottom: 0.125em;
}
.class-list__item__title {
    font-weight: 500;
    text-transform: none;
    margin: 0;
}
.class-list__item dl {
    display: flex;
    margin: 0.25em 0 0;
}
.class-list__item dd:not(:last-of-type) {
    margin-right: 1.5em;
}
@media ( max-width: 48em ) {
    .class-list__item dl {
        justify-content: space-between;
        font-size: 0.875em;
    }
}
@media ( min-width: 48em ) {
    .class-list__item a {
        display: flex;
        align-items: baseline;
    }
    .class-list__item__title {
        margin-right: 2em;
        width: 15em;
    }
    .class-list__item dl dd:first-of-type {
        width: 12em;
    }
}

/*==============================================================
 # Class Archive
==============================================================*/
.classes__item {
    padding: 1em 0;
}
.classes__item__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12em;
}
.classes__item__media {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    margin: 0;
}
.classes__item__media img {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: translate3d(0,0,0);
    transition: transform 0.3s ease;
}
.no-touchevents .classes__item__link:hover img {
    transform: scale(1.1) rotate(-2deg);
}
.classes__item__title {
    position: relative;
    font-size: 1.5em;
    margin: 0;
    background-color: var(--color-bg-xdark);
    color: var(--color-bg);
    padding: 0.25em 0.5em;
    line-height: 1;
    transition: color 0.3s ease;
}
.no-touchevents .classes__item__link:hover .classes__item__title {
    color: var(--color-highlight);
}
.classes__item__details {
    position: relative;
    margin-bottom: 1em;
}
.classes__item__details summary {
    position: absolute;
    right: 0;
    transform: translate3d(0,calc(-100% + 1px ),0);
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: 700;
    letter-spacing: 0.075em;
    line-height: 1;
    padding: 0.625em 0.75em 0.5em;
    background-color: var(--color-bg);
    transition: background-color 0.2s ease, color 0.2s ease;
}
.no-touchevents .classes__item__details summary:hover,
.classes__item__details summary:active,
.classes__item__details[open] summary {
    background-color: var(--color-bg-xdark);
    color: var(--color-bg);
}
.classes__item__content {
    padding-top: 1em;
}
.classes__item__content > *:first-child {
    margin-top: 0;
}
.classes__item__content > *:last-child {
    margin-bottom: 0;
}


@media ( min-width: 48em ) {
    .classes {
        display: flex;
        flex-wrap: wrap;
        margin-right: -1em;
        margin-left: -1em;
    }
    .classes__item {
        display: flex;
        flex-direction: column;
        width: 33.33%;
        padding: 1em;
    }
    .classes__item nav {
        margin-top: auto;
    }
}

.class-instance-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.class-instance-list__item {
    position: relative;
    padding: 1.5em;
    background-color: var(--color-bg-offset);
    margin-right: 1em;
}
.class-instance-list__item p,
.class-instance-list__item time {
    white-space: nowrap;
}
.class-instance-list__item p {
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
.class-instance-list__item p small {
    font-weight: normal;
}

/*==============================================================
 # Single Class
==============================================================*/
.single-class__figure {
    position: relative;
    width: 100vw;
    left: 50%;
    margin: 0 0 0 -50vw;
    height: 75vw;
    overflow: hidden;
}
.single-class__figure img {
    position: absolute;
    display: block;
    margin-top: -1em;
    margin-left: -1em;
    width: calc( 100% + 2em);
    height: calc(100% + 2em);
    object-fit: cover;
    object-position: center;
    max-width: none;
    filter: blur(2px);
}

.single-class__intro {

}
.single-class__intro h1 {
    margin: 0;
}
.single-class__video {
    position: relative;
    max-width: 40em;
    margin: 0 auto;
}
.single-class__video__content {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
}
.single-class__video__content iframe {
    position: absolute;
    height: 100% !important;
    width: 100% !important;
}
.single-class > details.collapsible:first-of-type {
    margin-top: 2em;
}
@media ( min-width: 48em ) {
    .single-class__intro {
        position: relative;
        margin-top: -8em;
        max-width: 54em;
        margin-right: auto;
        margin-left: auto;
        padding: 3em;
        background-color: var(--color-bg);
        text-align: center;
    }
    .single-class__intro p {
        line-height: 1.7;
    }
}
